#! /usr/bin/make -f
#

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) -Wall -W
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) -Wall -W
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
export CFLAGS CPPFLAGS CXXFLAGS LDFLAGS

INSTALL=install
CHANGELOG=changelog

build:
	$(MAKE) prefix=/usr

cleanpkg-autoztool:
	rm -rf debian/autoztool

pkg-autoztool:
	rm -rf debian/autoztool
	mkdir -p debian/autoztool
	mkdir -p debian/autoztool/DEBIAN
	mkdir -p debian/autoztool/usr/share/doc/autoztool
	cp debian/copyright \
		debian/autoztool/usr/share/doc/autoztool/copyright
	cp debian/changelog \
		debian/autoztool/usr/share/doc/autoztool/${CHANGELOG}
	gzip -9 debian/autoztool/usr/share/doc/autoztool/${CHANGELOG}
	mkdir -p debian/autoztool/usr/bin
	mkdir -p debian/autoztool/usr/lib/autoztool
	mkdir -p debian/autoztool/usr/share/man/man1
	$(INSTALL) -m 755 z \
		debian/autoztool/usr/bin/z
	$(INSTALL) -m 644 z.1 \
		debian/autoztool/usr/share/man/man1/z.1
	gzip -9 debian/autoztool/usr/share/man/man1/z.1
	$(INSTALL) -m 755 autoztool.so \
		debian/autoztool/usr/lib/autoztool/autoztool.so
	strip --strip-unneeded \
		--remove-section=.comment \
		debian/autoztool/usr/lib/autoztool/autoztool.so
	dpkg-shlibdeps -Tdebian/substvars.autoztool \
		debian/autoztool/usr/lib/autoztool/*
	dpkg-gencontrol -isp -pautoztool -Pdebian/autoztool -Tdebian/substvars.autoztool
	cd debian/autoztool && \
		find -name DEBIAN -prune -o -type f -print \
			| sed 's/^\.\///' \
			| xargs md5sum > DEBIAN/md5sums
	chown -R root:root debian/autoztool
	chmod -R g-ws debian/autoztool
	dpkg --build debian/autoztool ..


binary: binary-arch binary-indep
binary-arch:  pkg-autoztool
binary-indep: 

clean:  cleanpkg-autoztool
	$(MAKE) distclean
	rm -f debian/files
	rm -f debian/substvars
